:root {
  --white: #fff;
  --beige: #f3ece4;
  --blue: #dbe8ed;
  --pink: #dacccc;
  --pink-light: #ede6e6;
  --pink-dark: #dacccc;
  --brown: #9e8d86;
  --darkbrown: #5f5651;
}

img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Falidae";
  src: url("./fonts/Felidae.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Gilroy Light", sans-serif;
  background-color: var(--white);
  color: var(--darkbrown);
}

main {
  margin-bottom: 10%;
}

html {
  min-width: 320px;
  font-size: 20px;
}

body {
  position: relative;
  z-index: 0;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 2.6rem;
  font-family: Falidae;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-family: Falidae;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-family: Falidae;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-family: Falidae;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  font-family: Falidae;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
}

span {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
}

label img {
  margin-right: 0.5rem;
}

img {
  width: 100%;
}

.button {
  border: 4px solid var(--white);
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
}

.input__form {
  border: 4px solid var(--pink);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--white);
  font-size: 1rem;

  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--pink);
  z-index: 999;
}

.hs0 {
  width: 20%;
}

.hs1 {
  width: 20%;
  border-right: 1px solid var(--pink);
}

.hs2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5% 0% 0 0%;
}

.hs2 img {
  margin-bottom: -0.4rem;
}

.hs2 nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: 99;
}

/*DUAL BOX*/
.dual__box {
  display: flex;
  width: 100%;
}

.db2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.db2 h5 {
  margin-right: 20%;
}

.db2 img {
  width: 100%;
  padding: 25% 0% 5% 0%;
}

/*THIN BOX*/
.thin__box {
  display: flex;
  width: 100%;
}

.tb0 {
  width: 100%;
}
.tb0 h1{
  font-size: 3rem;
}

.mini__blocks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 15% 0% 0% 2.5%;
}

#inline3 {
  display: flex;
  padding: 3% 0 3% 4%;
  margin: 10% 0 5% 0;
  margin-left: -2%
}

#inline2 {
  display: flex;
  padding: 3% 0 3% 4%;
  margin: 5% 0 2% 0;
  width: 20%;
  margin-left: -4%;
}

#inline4 {
  display: flex;
  padding: 3% 0 3% 4%;
  margin: 5% 0 2% 12.1%;
  width: 40%;
}

#thin__box0 {
  margin-left: 14.5%;
}

/*CATALOG*/
.catalog__box {
  padding-left: 14.3%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog__box-row {
  display: flex;
  gap: 2.5%;
  width: 100%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.row__category {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.border_category {
  border-bottom: 1px solid var(--pink);
  position: relative;
  margin-left: -50%;
  width: 120%;
  margin-top: 40px;
  height: 0;
}

.row__category-name {
  display: flex;
  justify-content: end;
  align-items: self-end;
  width: 100%;
}

.category-padding {
  margin-right: -250px;
}

.h2 {
  rotate: 270deg;
}

.row__item {
  flex-basis: 50%;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}

.image-container img {
  transition: opacity 0.3s ease;
  width: 300px;
  height: 100%;
  margin-bottom: 5%;
}

.image-container:hover img {
  opacity: 0.5;
  filter: brightness(50%);
  background-image: url('../img/bg-header.png');
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Falidae;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.overlay-text-bottom {
  position: absolute;
  top: 90%;
  left: 28%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Falidae;
  color: var(--white);
  font-size: 1.0rem;
  text-align: center;
  margin-left: 6px;
}

.overlay-text-bottom-price {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Falidae;
  color: var(--white);
  font-size: 1.6rem;
  text-align: right;
}

.image-container:hover .overlay-text {
  opacity: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  border: 1px solid var(--white);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}

.image-container:hover .overlay-text-bottom {
  opacity: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  padding-top: 0.25rem;
}

.image-container:hover .overlay-text-bottom-price {
  opacity: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  padding-top: 0.25rem;
}

/*ABOUT INFO*/

.about__info-top {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 10%;
  margin-top: 2%;
}


.about__info-bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 10%;
  margin-top: 8%;
}

.ab3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.ab4 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.ab3 img {
  max-width: 40%;
}

.ab4 img {
  max-width: 40%;
}

.border-ab {
  padding-top: 2%;
  border-top: 1px solid var(--pink);
}

.border-ab h2 {
  font-size: 38px;
  padding-bottom: 10%;
  padding-top: 10%;
}

.border-ab p {
  font-size: 24px;
  padding-top: 0%;
}

/*UTILS*/

.utils__line {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--pink);
  border-bottom: 1px solid var(--pink);
  justify-content: center;
  gap: 2%;
  margin-top: 2%;
}

.utils__line-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  padding: 4% 2% 2% 2%;
  gap: 2rem;
  width: 40%;
  text-align: left;
}

.ab1-top {
  display: flex;
  align-items: center;
  gap: 5%;
}

.ab1-top h1 {
  font-size: 32px;
}

.ab1-bottom p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ab1-top img {
  width: 10%;
  margin-bottom: 5%;
}

.ab1-bottom {
  display: flex;
  flex-direction: column;
}

/*CART*/
.cartTitle h1 {
  padding-top: 7%;
  padding-bottom: 1%;
  padding-left: 17%;
  font-size: 70px;
}

.cart-img {
  margin-bottom: 10px;
  width: 3%;
}

.cart__box {
  display: flex;
  width: 100%;
  margin: 5% 5% 0 0;
}

.cart__container {
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 2.5%;
}

.cart_img {
  padding-bottom: 10px;
}

.btnCart {
  padding: 20px 200px !important;
  background-color: #F3ECE4;
  font-size: 30px;
}

.card {
  width: 90%;
  border: 1px solid var(--brown);
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.card__left img {
  width: 60%;
  height: auto;
  margin-right: 5%;
  margin-left: 20%;
}

.remove-button {
  /* added styles for the remove button */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;

}

.card__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-right: 20%;
}

.card__right h1 {
  color: var(--brown);
}

.card__right-bottom {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart__sum {
  display: flex;
  align-items: baseline;
  gap: 5%;
  margin: auto 0 0 16.4%;
  padding-top: 5%;
}

.cart__button {
  margin: 1% auto 1% auto;
  padding-top: 5%;
}

.counter {
  display: flex;
  width: 50%;
}

.size {
  display: flex;
  gap: 2%;
}

.button__item-min {
  border: 1px solid var(--pink);
  background-color: transparent;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  padding: 0.25% 1%;
  border-right: none;
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  width: 35%;
}

.input__item {
  border: 1px solid var(--pink);
  background-color: transparent;

  text-align: center;
  font-size: 1rem;
  font-family: "Gilroy Light", sans-serif;
  width: 30%;
}

.button__item-pls {
  border: 1px solid var(--pink);
  background-color: transparent;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  border-left: none;
  padding: 0.25% 1%;
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  width: 35%;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #9e8d8688;
  z-index: 100;
}

.modal:target {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  gap: 2%;
  width: 25%;
  margin: 15% auto;
  padding: 5%;
  border: 1px solid #888;
  width: fit-content;
  background-image: url("./img/modalbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#open-modal {
  margin-top: 1%;
  padding: 25px 1px;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.map1 {
  margin-bottom: 5%;
}

.map2 {
  margin-bottom: 5%;
}

.formmid {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}

.formmid .map {
  padding-top: 10px;
  padding-bottom: 40px;
}

.formmodal {
  display: flex;
  gap: 5rem;
  margin-top: 0.5rem;
}

.formmodal img {
  width: 50%;
}

.formmodal form {
  margin-top: -10%;
}

label {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #5F5651;
  margin-bottom: 0%;
}

label img {
  width: 2.5%;
}

.forminputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 477px;
  padding: 0.5rem;
  border: 1px solid var(--brown);
}

.caution p {
  font-size: 0.8rem;
}

.close {
  color: #f7f7f7;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: var(--brown);
  text-decoration: none;
  cursor: pointer;
}

/*POLITIC*/
#modal-politic {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #9e8d8688;
  z-index: 100;
}

.modal-content-politic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 70% !important;
  margin: 15% auto;
  padding: 4% 2%;
  border: 1px solid #888;
  width: fit-content;
  background: white;
}

.modal-content-politic h1 {
  font-size: 4rem;
  text-wrap: nowrap;
  color: var(--brown);
  font-weight: normal;
}

.politic-text {
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: baseline;
}

.politic-text label {
  text-decoration: underline;
  font-weight: 300;
  color: var(--brown);
  font-size: 28px;
}

.politic-text p {
  font-size: 24px !important;
}

.btn-politic {
  padding: 20px 80px;
  background-color: #F3ECE4;
  font-size: 30px;
}

.politic a {
  font-size: 28px;
}

.politic {
  padding-bottom: 100px;
}

/*CONTACTS*/

.body-two {
  display: flex;
  flex-direction: row;
}

.padding {
  width: 22%;
}

.contact-title {
  padding-top: 11%;
  padding-bottom: 2%;
}

.contacts-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

.left-contacts {
  width: 50%;
}

.right-contacts {
  width: 50%;
}

.right-contacts p {
  font-size: 20px !important;
  padding-bottom: 20px !important;
  padding-top: 18px !important;
}

.right-contacts h1 {
  font-size: 30px;
}

.content label {
  padding-top: 10%;
  font-size: 28px;
}

.content p {
  font-size: 24px;
}

.matr img {
  width: 22px;
  height: 22px;
  padding-right: 8px;
  margin-top: 3px;
}

.matr {
  display: flex;
  flex-direction: row;
  gap: 9rem;
  padding-bottom: 30px;
}

.matr p {
  font-size: 20px;
}

.matr label {
  font-size: 22px;
  padding-bottom: 5%;
}

.politic a{
  font-size: 22px;
}

.col-img {
  display: flex;
  padding-bottom: 20px;
}


/*FOOTER*/

.footer__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
  border-top: 1px solid var(--pink);
}

.fr1 {
  display: flex;
  justify-content: space-between;
}

.fr2 {
  display: flex;
  justify-content: space-between;
  max-height: 10%;
}

.fr3 {
  display: flex;
  justify-content: space-between;
}

.fb1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pink);
  width: 100%;
  padding: 1% 0;
}

#logofiilet {
  fill: rgb(161, 111, 111);
  width: 80%;
}

#about__footer {
  margin-top: 10%;
}

#gesigner__name {
  font-family: Falidae;
  font-weight: 300;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
}

#gesigner__name h4 {
  opacity: 0.5;
  margin-left: 10%;
}

.fb2 {
  border-bottom: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  width: 100%;
  max-width: 10%;
}

.social {
  display: flex;
  gap: 30%;
  margin-left: 5%;
}

.social img {
  width: 2rem;
}

/*ITEM*/
#list {
  color: transparent;
  background-color: transparent;
  border: 0px;
  resize: none;
  overflow: hidden;
}

.item__box {
  display: flex;
  width: 100%;
  margin: 10% 0;
}

.item__left img {
  width: 100%;
  height: auto;
}

.item__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2%;
}

.good-text p{
  font-size: 26px;
  font-family: "Gilroy Light", sans-serif;
  font-weight: 400;
}

.item__desc-top h1 {
  color: #9E8D86;
  font-size: 60px;
}

.item__desc-top .good-text {
  color: #9E8D86;
  padding-top: 8px;
  font-size: 30px;
}

.item__desc-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.item__desc-bottom-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2%;
}

.item__desc-bottom-left .size p {
  font-size: 30px;
}

.item__desc-bottom-left .size h3 {
  font-size: 35px;
}

.item__desc-bottom-left h1 {
  font-size: 45px;
  margin-top: 8px;
}

.item__desc-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__desc-bottom-right .button__item {
  margin-top: -2%;
  width: 320px;
  font-size: 30px;
}

.counter-item {
  display: flex;
  width: 320px;
  margin-top: -1%;
  height: 40px;
  font-size: medium;
}

.button__item {
  border-radius: 2rem;
  border: none;
  padding: 0.5% 1%;
  font-size: 1.5rem;
  background-color: var(--pink);
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  margin-top: 20%;
}

.size {
  margin-bottom: 20%;
  width: 140%;
}

/*ABOUT*/
.about__box {
  display: flex;
  width: 100%;
  margin-bottom: 0%;
}

.ab0 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5%;
  width: 47.25%;
  padding: 2% 2% 0 0;
}

.item__left img {
  width: 100%;
  height: auto;
}

.abmid {
  width: 100%;
  display: flex;
  gap: 2rem;
  border: 1px solid var(--pink);
}

.ab1-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  gap: 5rem;
  width: 100%;
  border-right: 1px solid var(--pink);
}

.ab1-r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  gap: 5rem;
  width: 100%;
  border-left: 1px solid var(--pink);
}

.ab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid var(--pink);
  border-bottom: 1px solid var(--pink);
}

.ab2 img {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
}

.ab2 h1 {
  border: 1px solid var(--pink);
  border-radius: 50%;
  margin-left: -4rem;
  margin-top: 8rem;
  padding: 2rem 4rem 3.5rem 4rem;
  max-height: 25px;
  max-width: 200px;
}

.about__box-line {
  width: 100%;
  display: flex;
}

.about__box-line2 {
  width: 100%;
  display: flex;
  margin: 5rem 0 2.5rem 0;
}

.about__box-utils {
  display: flex;
  width: 100%;
  max-height: 600;
  margin: 2.5rem;
}

.padding-about {
  font-size: 32px;
  margin-top: -10%;
  position: relative;
}

@media (max-width: 1024px) {

  .blurelipse {
    display: none;
  }

  html {
    font-size: 18px;
  }

  .hs1,
  .hs0 {
    display: none;
  }

  .hs2 {
    padding: 5% 4% 0 4%;
  }

  .db2 {
    width: 50%;
    padding: 5% 4% 0 4%;
  }

  .mini__blocks {
    padding: 5% 10% 0 8%;
  }

  #inline3 {
    padding: 5% 0% 5% 10%;
  }

  #inline2 {
    padding: 5% 0% 5% 8%;
  }

  .ab0 {
    padding: 2%;
  }

  .about__info-top {
    margin: 4% auto;
    gap: 20%;

    justify-content: center;
  }

  .utils__line {
    flex-direction: column;
  }

  .utils__line-box {
    margin: 0 auto;
    width: 80%;
  }

  #displaynone {
    display: none;
  }

  .item__box {
    padding: 0 2%;
  }

  #thin__box0 {
    margin-left: 0px;
  }

  .row__category {
    border-left: none !important;
  }
}

.block {
  display: flex;
  gap: 1rem;
}

.b-l {
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--pink);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}

.b-r {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--pink);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}

.blur {
  position: absolute;
  background-image: url("./img/blurhead.svg");
  width: 50%;
  height: 99%;
  background-repeat: no-repeat;
  z-index: -90;

  right: 0;
  pointer-events: none;
  /* This will allow user interactions with other elements */
}

.blurelipse {
  position: absolute;
  background-image: url("./img/blur_elipse.png");
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  z-index: -90;
  top: 10%;
  left: 0;
  pointer-events: none;
  /* This will allow user interactions with other elements */
}

.blurline {
  position: absolute;
  background-image: url("./img/blurline.svg");
  width: 100%;
  height: 10%;
  background-repeat: no-repeat;
  z-index: -99;

  bottom: 0;
  pointer-events: none;
  /* This will allow user interactions with other elements */
}

a {
  text-wrap: nowrap;
}

@media (max-width: 1024px) {
  .row__item h2 {
    margin-bottom: 5%;
  }

  html {
    font-size: 14px;
  }

  .about__info-bottom {
    margin: 4% auto;
    gap: 20%;
    justify-content: center;
}

  #logofiilet {
    width: 50%;
    margin-left: 30%;
  }

  .row__category {
    border-left: none !important;
  }

  .catalog__box-row img {
    width: 170px;
  }

  .catalog__box-row h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
  }


  .contacts-block {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .map1 {
    margin-top: 5%
  }

  .footer__box {
    margin-top: 12%
  }

}

@media (max-width: 450px) {

  .b-l h2,
  .b-r h2 {
    font-size: 16px;
  }

  .b-l {
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--pink);
    border-radius: 0.85rem;
    padding-top: 0.25rem;
  }

  .b-r {
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    border: 1px solid var(--pink);
    border-radius: 0.85rem;
    padding-top: 0.25rem;
  }

  .blurelipse {
    display: none;
  }

  nav {
    gap: 1rem;
  }

  nav.social{
    margin-left: 10%;
  }

  a img {
    width: 50%;
  }

  #bg-image {
    height: 850px;
  }

  .db2 h5 {
    font-size: 12px;
    position: absolute;
  }

  #inline2 h1 {
    font-size: 18px;
  }

  #inline3 h1 {
    font-size: 18px;
    margin-left: 0;
  }

  #inline3 {
    margin-bottom: 0;
  }

  #logofiilet {
    width: 40%;
    margin-left: 60%;
  }

  #inline2 {
    text-wrap: nowrap;
    display: flex;
    padding: 3% 0 3% 7%;
    margin: 5% 0 2% 0;
    width: 30%;
    margin-left: -4%;
    font-size: 24px;
  }

  #inline2 h1 {
    font-size: 24px;
  }

  #inline3 h1 {
    font-size: 24px;
    text-wrap: nowrap;
  }

  #inline4 {
    font-size: 10;
    text-wrap: nowrap;
  }

  #inline4 {
    display: flex;
    border: 0px solid var(--pink);
    border-radius: 50%;
    padding: 3% 0 3% 4%;
    margin: 5% 0 2% 10.1%;
    width: 35%;
  }

  .cart-img {
    margin-bottom: 10px;
    width: 10%;
  }

  /* CATALOG */
  .catalog__box-row {
    flex-direction: flex;
  }

  .catalog__box-row img {
    width: 150px;
  }

  .catalog__box-row h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
  }

  .row__category-name {
    width: 100%;
    border-left: none;
    align-items: center;
  }

  .row__category-name h2 {
    margin-left: -450px;
    margin-right: auto;
    border-left: none;
    font-size: 18px;
  }

  .image-container {
    margin-right: -10%;
  }

  .row__item {
    margin: 0 auto;
  }

  .image-container:hover .overlay-text {
    opacity: 1;

    display: none;
  }

  .thin__box {
    margin-top: 5%;
  }

  .mini__blocks {
    margin-top: 20px;
    border-top: 1px solid var(--pink);
    padding-top: 40px;
  }

  .overlay-text-bottom-price {
    font-size: 15px;
    margin-right: 50px;
    margin-left: -5%;
  }

  .overlay-text {
    font-size: 10px;
  }

  .image-container:hover .overlay-text {
    opacity: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: 150px;
    border: 1px solid var(--white);
    border-radius: 0.85rem;
    margin-left: -5%;
  }

  /* ABOUT INFO */
  .about__box {
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  #ab320 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about__info-top {
    flex-direction: column;
    gap: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  .about__info-bottom {
    gap: 1rem;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  .border-ab {
    padding-top: 10%;
  }

  .border-ab h2 {
    font-size: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  h2 {
    font-size: 24px;
  }

  .border-ab p {
    font-size: 16px;
    padding-top: 5%;
  }

  .ab-img-mob {
    display: block !important;
  }

  .ab-img {
    display: none;
  }


  /* UTILS */
  .utils__line {
    padding-bottom: 1.5rem;
    gap: 2rem;
    align-items: baseline;
    border: none;
  }

  .utils__line-box {
    border-top: 1px solid var(--pink);
    border-bottom: 1px solid var(--pink);
    justify-content: center;
    gap: 5%;
    align-items: start;
  }

  .ab1-top {
    display: flex;
    gap: 10%;
    align-items: start;
  }

  .ab1-top h1 {
    font-size: 22px;
    margin-left: 0 !important;
  }

  .padding-about {
    font-size: 20px;
    margin-right: -20%;
    margin-top: -3%;
    margin-bottom: 5%;
  }

  .ab1-bottom p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .ab3{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 14%;
  }

  .ab3 h3 {
    font-size: 24px;
  }

  .ab3 span{
    font-size: 16px;
  }

  .ab1-top img {
    width: 15%;
    margin-bottom: 0%;
  }

  .sushka {
    width: 45%
  }

  .ab1-top h1 {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-top: 5%;
  }

  .thin__box h1 {
    font-size: 24px;
  }

  .item__box {
    flex-direction: column;
  }

  /* CART */

  .card__left img {
    width: 70px;
    margin: 0 20px 0 5px;
    height: auto;
  }

  .item__desc-bottom {
    flex-direction: column;
  }

  .size {
    display: flex;
    text-wrap: nowrap;
  }

  .item__desc-bottom-left {
    text-wrap: nowrap;
  }

  .card {
    margin: 5px auto;
    width: 70%;
  }

  .card__right {
    padding-bottom: 0;
  }

  .card__right h1 {
    font-size: 12px;
    text-wrap: nowrap;
  }

  .card__right p {
    font-size: 11px;
  }

  .card__right h3 {
    font-size: 12px;
    margin-top: 1px;
  }

  .cartTitle h1 {
    font-size: 25px;
  }

  .cart__sum h1 {
    font-size: 20px;
  }

  .card__right-bottom h1 {
    font-size: 13px;
    padding-left: 30px;
  }

  .card__right-bottom {
    width: 100%;
  }

  .button__item-min {
    padding: 0 8px;
    font-size: 10px;
  }

  .button__item-pls {
    padding: 0 8px;
    font-size: 10px;
  }

  .input__item {
    padding: 0 8px;
    font-size: 8px;
  }

  .counter {
    width: 100;
  }

  .btnCart {
    width: min-content;
    padding: 10px 50px !important;
    font-size: 16px;
    text-wrap: nowrap;
  }

  .formmid label {
    font-size: 13px;
  }

  .formmid h1 {
    text-align: center;
  }

  .formmid #modal-map {
    padding-top: 0;
    display: block;
  }

  .formmodal {
    flex-direction: column;
  }

  .input__form {
    border: 1px solid var(--pink);
  }

  .caution {
    width: 95%;
    background-image: none;
  }

  .map img {
    width: 24px;
    height: auto;
  }

  .map label {
    width: 100%;
  }

  .map {
    margin-top: 0 !important;
  }

  .modal-content {
    background: white;
  }

  /*ITEM*/
  .item__left {
    display: none;
  }

  .mob_img_item {
    display: block !important;
  }

  .item_mob {
    margin: 0 auto;
  }

  .item__box img {
    margin-left: 30%;
  }

  .item__desc-top h1 {
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .item__desc-top .good-text {
    margin-top: 20px;
    font-size: 15px;
    width: 160%;
  }

  .good-text p{
    font-size: 16px;
  }

  .item__desc-bottom {
    display: flex;
    flex-direction: row;
    gap: 9rem;
  }

  .item__desc-bottom-left {
    width: 50%;
  }

  .item__desc-bottom-left .size {
    margin-bottom: 0;
  }

  .item__desc-bottom-left .size p {
    font-size: 15px;
    margin-top: 15px;
  }

  .item__desc-bottom-left .size h3 {
    font-size: 22px;
    padding-left: 10px;
    margin-top: 12px;
  }

  .counter-item {
    width: 100px;
    height: auto;
    margin-top: 10px;
  }

  .item__desc-bottom-right .button__item {
    width: 100px;
    height: auto;
    text-wrap: nowrap;
    font-size: 12px;
    margin-top: 15px;
  }

  .item__desc-bottom-right {
    align-self: center;
  }

  /*CONTACTS*/
  #modal-map iframe {
    width: 380px;
    height: 280px;
    padding: 0;
    margin: 0;
  }

  #modal-map {
    padding: 0;
    margin: 0;
  }

  .contacts-block {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .body-two {
    padding-left: 18px;
    margin: 0;
    width: 90%;
  }

  .padding {
    display: none;
  }

  .contact-title h1 {
    font-size: 25px;
  }

  .body-two label {
    font-size: 19px;
  }

  .map h1 {
    font-size: 20px;
    padding-top: 10px;
  }

  .map p {
    padding: 0 !important;
    font-size: 14px !important;
  }

  .map {
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .matr {
    flex-direction: column;
    gap: 0;
    padding-bottom: 0;
  }

  .matr label {
    font-size: 15px;
    padding: 25px 0 15px 0;
  }

  .matr p {
    font-size: 15px;
  }

  .col-img {
    padding-bottom: 9px;
  }

  .col-img img {
    margin-top: -4px;
  }

  .politic {
    padding-bottom: 20px;
  }

  .politic a {
    font-size: 15px;
  }

  /*POLITIC*/
  .modal-content-politic {
    width: 97% !important;
  }

  .modal-content-politic h1 {
    font-size: 2.2rem;
  }

  .politic-text label {
    font-weight: 500 !important;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #5F5651;
  }

  .politic-text p {
    font-size: 15px !important;
  }

  .btn-politic {
    margin-top: 15px;
    padding: 10px 90px;
    background-color: #F3ECE4;
    font-size: 20px;
  }

  .politic {
    padding-bottom: 100px;
  }

  .footer__box {
    margin-top: 15%
  }

  .footer__box_cart {
    margin-top: 70%;
    visibility: hidden;
  }

  .padding-about{
    margin-top: 1%;
  }

}