:root {
  --white: #fff;
  --beige: #f3ece4;
  --blue: #dbe8ed;
  --pink: #dacccc;
  --pink-light: #ede6e6;
  --pink-dark: #dacccc;
  --brown: #9e8d86;
  --darkbrown: #5f5651;
}
img {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Falidae";
  src: url("./fonts/Felidae.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

html,
body {
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Gilroy Light", sans-serif;
  background-color: var(--beige);
  color: var(--darkbrown);
}
html {
  font-size: 20px;
}
body {
  position: relative;
  z-index: 0;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width:100%;
  height:auto;
}

h1 {
  font-size: 2.6rem;
  font-family: Falidae;
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-family: Falidae;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
  font-family: Falidae;
  font-weight: 400;
}
h4 {
  font-size: 1rem;
  font-family: Falidae;
  font-weight: 400;
}
h5 {
  font-size: 1.5rem;
  font-family: Falidae;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
}
span {
  font-size: 0.9rem;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
label {
  display: flex;
  align-items: center;
}
label img {
  margin-right: 0.5rem;
}

img {
  width: 100%;
}
.button {
  border: 4px solid var(--white);
  border-radius: 0.7rem;
  padding: 0.5rem 2rem;
  background-color: var(--blue);
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
}
.input__form {
  border: 4px solid var(--blue);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background-color: var(--pink-light);
  font-size: 1rem;

  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--pink);
  z-index: 999;
}
.hs0 {
  width: 20%;
}
.hs1 {
  width: 20%;
  border-right: 1px solid var(--pink);
}
.hs2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5% 0% 0 0%;
}
.hs2 img {
  margin-bottom: -0.4rem;
}
.hs2 nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: 99;
}

/*DUAL BOX*/
.dual__box {
  display: flex;
  width: 100%;
}
.db2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.db2 h5 {
  margin-right: 20%;
}
.db2 img {
  width: 100%;
  padding: 25% 0% 5% 0%;
}
/*THIN BOX*/
.thin__box {
  display: flex;
  width: 100%;
}
.tb0 {
  width: 60%;
}
.mini__blocks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 15% 0% 0% 2.5%;
}

#inline3 {
  display: flex;
  border: 1px solid var(--pink);
  border-radius: 50%;
  padding: 3% 0 3% 4%;
  margin: 10% 0;
  width: 40%;
  margin-left: -4%;
}
#inline2 {
  display: flex;
  border: 1px solid var(--pink);
  border-radius: 50%;
  padding: 3% 0 3% 4%;
  margin: 5% 0 2% 0;
  width: 20%;
  margin-left: -4%;
}
#inline4 {
  display: flex;
  border: 1px solid var(--pink);
  border-radius: 50%;
  padding: 3% 0 3% 4%;
  margin: 5% 0 2% 10.1%;
  width: 35%;
}
#thin__box0 {
  border-bottom: 1px solid var(--pink);
}

/*CATALOG*/
.catalog__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog__box-row {
  display: flex;
  gap: 2.5%;
  width: 95%;
  margin-left: -5%;
  margin-bottom: 5%;
}

.row__category {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.row__category img {
  width: 100%;
}

.row__category-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 100%;
  width: 15%;
}

.row__category-name h2 {
  rotate: 270deg;
}

.row__item {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}

.image-container img {
  transition: opacity 0.3s ease;
}

.image-container:hover img {
  opacity: 0.5;
  filter: brightness(50%);
  background-color: var(--pink);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Falidae;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.image-container:hover .overlay-text {
  opacity: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}

/*ABOUT INFO*/

.about__info-top {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5%;
  gap: 10%;
}
.ab3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.ab3 img {
  max-width: 40%;
}
/*UTILS*/

.utils__line {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--pink);
  border-bottom: 1px solid var(--pink);
  justify-content: center;
  gap: 2%;
  margin-top: 5%;
}
.utils__line-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  padding: 4% 2% 2% 2%;
  gap: 8rem;
  width: 40%;
  text-align: right;
}

.ab1-top {
  display: flex;
  align-items: center;
  gap: 5%;
}
.ab1-top img {
  width: 10%;
}
.ab1-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 15%;
}
/*CART*/

.cart__box {
  display: flex;
  width: 100%;
  margin: 5% 5% 0 0;
}
.cart__container {
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 2.5%;
}

.card {
  width: 90%;
  border: 1px solid var(--brown);
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 0 auto;
  position: relative;
}
.card__left img {
  width: 50%;
  height: auto;
}
.remove-button {
  /* added styles for the remove button */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.card__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.card__right h1 {
  color: var(--brown);
}

.card__right-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart__sum {
  display: flex;
  align-items: baseline;
  gap: 5%;
  margin: auto 0 0 16.4%;
  padding-top: 5%;
}
.cart__button {
  margin: 1% auto 1% auto;
  padding-top: 5%;
}

.counter {
  display: flex;
  width: 50%;
}
.size {
  display: flex;
  gap: 2%;
}

.button__item-min {
  border: 1px solid var(--pink);
  background-color: transparent;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  padding: 0.25% 1%;
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  width: 20%;
}

.input__item {
  border: 1px solid var(--pink);
  background-color: transparent;

  text-align: center;
  font-size: 1rem;
  font-family: "Gilroy Light", sans-serif;
  width: 30%;
}
.button__item-pls {
  border: 1px solid var(--pink);
  background-color: transparent;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  padding: 0.25% 1%;
  font-size: 1.5rem;
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  width: 20%;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #9e8d8688;
  z-index: 100;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dacccc;
  gap: 2%;
  width: 50%;
  margin: 15% auto;
  padding: 5%;
  border: 1px solid #888;
  width: fit-content;
  background-image: url("./img/modalbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
#open-modal {
  margin-top: 5%;
}
.map {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formmid {
  display: flex;
  flex-direction: column;
}

.formmodal {
  display: flex;
  gap: 5rem;
  margin-top: 0.5rem;
}
.formmodal img {
  width: 50%;
}
label {
  display: flex;
  align-items: center;
}
label img {
  width: 2.5%;
}
.forminputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 477px;
  padding: 0.5rem;
  border: 1px solid var(--brown);
}
.caution p {
  font-size: 0.8rem;
}
.close {
  color: #f7f7f7;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: var(--brown);
  text-decoration: none;
  cursor: pointer;
}
/*FOOTER*/

.footer__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
  margin-top: 10%;
  border-top: 1px solid var(--pink);
}
.fr1 {
  display: flex;
  justify-content: space-between;
}
.fr2 {
  display: flex;
  justify-content: space-between;
  max-height: 10%;
}
.fr3 {
  display: flex;
  justify-content: space-between;
}

.fb1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pink);
  width: 100%;
  padding: 1% 0;
}
#logofiilet {
  width: 80%;
}
#about__footer {
  margin-top: 10%;
}
#gesigner__name {
  font-family: Falidae;
  font-weight: 300;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
}

#gesigner__name h4 {
  opacity: 0.5;
  margin-left: 10%;
}
.fb2 {
  border-bottom: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  width: 100%;
  max-width: 10%;
}

.social {
  display: flex;
  gap: 30%;
  margin-left: 5%;
}
.social img {
  width: 2rem;
}
/*ITEM*/
#list {
  color: transparent;
  background-color: transparent;
  border: 0px;
  resize: none;
  overflow: hidden;
}
.item__box {
  display: flex;
  width: 100%;
  margin: 10% 0;
}

.item__left img {
  width: 100%;
  height: auto;
}

.item__right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2%;
}

.good-text{
  font-size: 1rem;
  font-family: "Gilroy Light", sans-serif;
  font-weight: 400;
}

.item__desc-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.item__desc-bottom-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2%;
}
.item__desc-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter-item {
  display: flex;
  width: 100%;
}
.button__item {
  border-radius: 2rem;
  border: none;
  padding: 0.5% 1%;
  font-size: 1.5rem;
  background-color: var(--pink-dark);
  color: var(--darkbrown);
  font-family: "Gilroy Light", sans-serif;
  margin-top: 20%;
}

.size{
  margin-bottom: 20%;
  width: 140%;
}

/*ABOUT*/
.about__box {
  display: flex;
  width: 100%;
}

.ab0 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5%;
  width: 47.25%;
  padding: 2% 2% 0 0;
}
.item__left img {
  width: 100%;
  height: auto;
}

.abmid {
  width: 100%;
  display: flex;
  gap: 2rem;
  border: 1px solid var(--pink);
}
.ab1-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  gap: 5rem;
  width: 100%;
  border-right: 1px solid var(--pink);
}

.ab1-r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  gap: 5rem;
  width: 100%;
  border-left: 1px solid var(--pink);
}

.ab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid var(--pink);
  border-bottom: 1px solid var(--pink);
}
.ab2 img {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1rem;
}

.ab2 h1 {
  border: 1px solid var(--pink);
  border-radius: 50%;
  margin-left: -4rem;
  margin-top: 8rem;
  padding: 2rem 4rem 3.5rem 4rem;
  max-height: 25px;
  max-width: 200px;
}

.about__box-line {
  width: 100%;
  display: flex;
}
.about__box-line2 {
  width: 100%;
  display: flex;
  margin: 5rem 0 2.5rem 0;
}
.about__box-utils {
  display: flex;

  width: 100%;
  max-height: 600;
  margin: 2.5rem;
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
  .hs1,
  .hs0 {
    display: none;
  }
  .hs2 {
    padding: 5% 4% 0 4%;
  }
  .db2 {
    width: 50%;
    padding: 5% 4% 0 4%;
  }
  .mini__blocks {
    padding: 5% 0% 0 8%;
  }
  #inline3 {
    padding: 5% 0% 5% 8%;
  }
  #inline2 {
    padding: 5% 0% 5% 8%;
  }
  .ab0 {
    padding: 2%;
  }
  .about__info-top {
    margin: 4% auto;
    gap: 20%;

    justify-content: center;
  }
  .utils__line {
    flex-direction: column;
  }
  .utils__line-box {
    margin: 0 auto;
    width: 80%;
  }
  #displaynone {
    display: none;
  }
  .item__box {
    padding: 0 2%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #logofiilet {
    width: 50%;
    margin-left: 30%;
  }
}

.block {
  display: flex;
  gap: 1rem;
}
.b-l {
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--pink);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}
.b-r {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--pink);
  border-radius: 0.85rem;
  padding-top: 0.25rem;
}
.blur {
  position: absolute;
  background-image: url("./img/blurhead.svg");
  width: 50%;
  height: 99%;
  background-repeat: no-repeat;
  z-index: -90;

  right: 0;
  pointer-events: none; /* This will allow user interactions with other elements */
}

.blurline {
  position: absolute;
  background-image: url("./img/blurline.svg");
  width: 100%;
  height: 10%;
  background-repeat: no-repeat;
  z-index: -99;

  bottom: 0;
  pointer-events: none; /* This will allow user interactions with other elements */
}
